*.swp
*.swo
*.swn
*.swm
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.suo
iisnode/
bin/
bld/
tags
.screenrc
public/app/bundle.js

pids
logs
results
build

node_modules
DefinitelyTyped
lib-cov
/public/app/bundle.js
