// Jade
html
	head
		title Canvas Fun Times
		section#canvasPlayground
		script(src='http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js')
		script(src='/js/game/structs/tiles.js')
		script(src='/js/game/Canvas/canvasBoardManager.js')
