html
  head
    title Canvas Fun Times
    link(type='text/css', media='all', rel='stylesheet', href="/css/font.css")
  body
    canvas#mycanvas(width='1000px', height='1000px')
  script(src='/app/bundle.js')
  script.
    window.draw('mycanvas');
