// Jade
html
    head
        title Canvas Fun Times


<html>
<head>
    <title>Game Lobby</title>
    <!--<link type="text/css" media="all" rel="stylesheet" href="/pnotify/jquery.pnotify.default.css">
    <script src="/src/knockout-3.0.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link type="text/css" media="all" rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">
    <script src="/pnotify/jquery.pnotify.min.js"></script>
    <script src="/src/socket.io.js"></script>
    <script>window["_GOOG_TRANS_EXT_VER"] = "1";</script>-->

    <!--<script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>-->
    <script src="../lib/kinetic-v5.0.1.min.js"></script>
    <script src="../models/Board/Squares.js"></script>
    <script src="../models/Board/Pieces.js"></script>
    <script src="../models/Board/Board.js"></script>
</head>
<body>
    <p id="js">asdfasdf</p>
    <!--<div id="blockingMsg"></div><div data-bind="visible: shouldShowPage" class="container"><div id="tabs"><ul id="gamesList" data-bind="foreach: games"><li id="games"><a data-bind="click: id, text: opponentName, attr: {href: &quot;#&quot; + id}" href="#52b473d9237484250d000004">Qc9aEjZ</a></li><li id="games"><a data-bind="click: id, text: opponentName, attr: {href: &quot;#&quot; + id}" href="#52b46c342d18fe4609000007">wyh2HSY</a></li><li id="games"><a data-bind="click: id, text: opponentName, attr: {href: &quot;#&quot; + id}" href="#52b46c032d18fe4609000003">wyh2HSY</a></li><li id="games"><a data-bind="click: id, text: opponentName, attr: {href: &quot;#&quot; + id}" href="#52b4397c0cebb5f017000016">OVHKT52</a></li></ul><div data-bind="foreach: games"><div data-bind="attr: {id: id}" id="52b473d9237484250d000004"><p>test1</p></div><div data-bind="attr: {id: id}" id="52b46c342d18fe4609000007"><p>test2</p></div><div data-bind="attr: {id: id}" id="52b46c032d18fe4609000003"><p>test</p></div><div data-bind="attr: {id: id}" id="52b4397c0cebb5f017000016"><p>test</p></div></div></div><div id="playerName"><input id="playerName" type="text"><input id="__playerName" type="hidden" value="Cathy"><div id="playerNameErr"></div><button id="setPlayerName">Set my name</button></div><div class="players"><p>List of online players</p><ul id="playersList"><li id="___self">Cathy (You)</li></ul></div><div class="linksToGames"></div><div class="chat"></div></div>-->
    <canvas id="canvas" width="500" height="500">YOU CAN'T LOAD SHIT MOTHER FUCKER, GET OUT</canvas>
    <script type="text/javascript">
       document.getElementById("js").innerHTML = board.validMoves[0].from.name;
    </script>
</body>
</html>
