doctype 5
html
   head
      title Game Lobby
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="../src/socket.io.js")
      script(src="../src/lobbyutil.js")
   body
      div.container
         header
            h1 Our game lobby
         p Name:
           input(type='name')#playerName
           button#setPlayerName Set my name
         p List of online players
         ul#playersList
