doctype html
html
   head
      title Game Lobby
      link(type='text/css', media='all', rel='stylesheet', href='/css/pnotify/jquery.pnotify.default.css')
      link(type='text/css', media='all', rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
      link(type='text/css', media='all', rel='stylesheet', href="/css/lobby.css")

      script(src='/app/bundle.js')
      script(src="/vendor/moment.min.js")

    body
      #blockingMsg
      .container(data-bind='visible: shouldShowPage')
        #tabs(data-bind='tabs: { refreshOn: games, active: activeTab }')
          ul
            li
              a(href='#main') Main
            // ko foreach: games
            li
              a(data-bind='attr: {title: opponentName, href: \'#\' + _id}, click: $parent.switchToGame') 
                span.mytabs-text(data-bind='text: \'playing \' + opponentName')
                span.ui-icon.ui-icon-bullet.mytabs-text(data-bind='playerOnline: $parent.players')
              span.ui-icon.ui-icon-close.mytabs-text.cursor-hand(data-bind="click: $parent.openCloseGameDialog, disable: $parent.isCloseGameDialogOpen.bind(this)", href='#')
            // /ko
          div#main
            p Welcome to our Stratego Game.
            p The following features are working: viewing who is online (just open this page in 2 browsers), inviting players to a game and chat. The actual game in canvas in on its way.
            button#showPlayers Invite a player
            ul.dropdown
              // ko foreach: players
              li
                a(href='#', data-bind='text: playerName, click: $parent.openInviteGameDialog')
              // /ko
            #bottom
              span
                form(data-bind='submit: emitChangeMyPlayerName.bind(this, myPlayerName())')
                  input#playerName(type='text', data-bind='value: myPlayerName')
                  button#setPlayerName Set my name
              span
                span Accept invites:
                  span All
                  input(type='radio' value='all' data-bind='checked: invitesAccepted, click: changeInvitesAccepted')
                  span Dark Only
                  input(type='radio' value='dark' data-bind='checked: invitesAccepted, click: changeInvitesAccepted')
                  span Light Only
                  input(type='radio' value='light' data-bind='checked: invitesAccepted, click: changeInvitesAccepted')
                  span None
                  input(type='radio' value='none' data-bind='checked: invitesAccepted, click: changeInvitesAccepted')
          // ko foreach: games
          div(data-bind='attr: {id: _id}')
            canvas.game-canvas(width='750', height='500') Canvas not supported
            .chat
              .messages(data-bind='foreach: messages')
                .message
                  span(data-bind='text: \'[\' + moment(date).format(\'HH:mm:ss\') + \'] \'')
                  span(data-bind='text: playerName + \': \'')
                  span(data-bind='text: message')
              .sending-message
                form(data-bind='submit: $parent.sendChatInput')
                  input.sending-message(data-bind='value: $parent.chatInput, attr: {placeholder: $parent.myPlayerName}')
                  button Send
          // /ko
          div(data-bind="dialog: {isOpen: isCloseGameDialogOpen, resizable: false, modal: true, buttons: {Yes: function() {emitResignGame(gameToBeClosed); $(this).dialog(\"close\");}, Cancel: function() { $( this ).dialog(\"close\") } } }")
            span Are you sure you want to finish a game with 
            span(data-bind="text: opponentNameOfGameToBeClosed")
            span ?
          div(data-bind="dialog: {isOpen: isInviteGameDialogOpen, resizable: false, modal: true, buttons: {Cancel: function() { $( this ).dialog(\"close\") } } }")
            span(data-bind='text: inviteGameDialogText');
            div Select your side:
            div(data-bind='buttonset: { refreshOn: invitesAvailable }')
              // ko foreach: invitesAvailable
              input(type='checkbox' data-bind="attr: {id: id}")
              label(data-bind='attr: {\'for\': id}, text: label, click: function() { $parent.requestGame(this.id); $($element).parent().parent().dialog(\"close\"); }')
              // /ko
