doctype 5
html
   head
      title Game Lobby
      link(type='text/css', media='all', rel='stylesheet', href='/pnotify/jquery.pnotify.default.css')
      //-link(type='text/css', media='all', rel='stylesheet', href='/pnotify/jquery.pnotify.default.icons.css')
      //-script(src="/src/knockout-3.0.0.js")
      script(src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      link(type='text/css', media='all', rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
      script(src="/pnotify/jquery.pnotify.min.js")
      script(src="/src/socket.io.js")
      script(src="/src/lobby.js")
      script(src="/src/knockout-jqueryui.min.js")

   body
      div#blockingMsg
      .container(data-bind='visible: shouldShowPage')
        div(data-bind='tabs: { refreshOn: games }')
          ul
            // ko foreach: games
            li(data-bind='attr: { \'aria-controls\': id }')
              a(href: #, data-bind='attr: {title: opponentName}, text: opponentName, click: $parent.switchToGame ')
            // /ko
          div#gameCanvas
        div
          input#playerName(type='text')
          input#__playerName(type='hidden')
          div#playerNameErr
          button#setPlayerName Set my name
        .players
          p List of online players
          ul#playersList
        .linksToGames
        .chat
