doctype 5
html
   head
      title Game Lobby
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src="../src/socket.io.js")
      script(src="../src/lobbyutil.js")
   body
      div.container
         header
            h1 Our game lobby
         p Name:
           input(type='name')#playerName
         p Password:
           input(type='text')#gameStartPass
         button#startGame Start a new game
         p List of your hosted games:
         ul#gamesList
         div#gameControls
            input(type='text')#gameJoinPass
            button#joinGame Join game
