doctype 5
html
   head
      title Game Lobby
      link(type='text/css', media='all', rel='stylesheet', href='/pnotify/jquery.pnotify.default.css')
      //-link(type='text/css', media='all', rel='stylesheet', href='/pnotify/jquery.pnotify.default.icons.css')
      //-script(src="/src/knockout-3.0.0.js")
      link(type='text/css', media='all', rel='stylesheet', href='/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')
      link(type='text/css', media='all', rel='stylesheet', href="/css/lobby.css")

      script(src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      script(src="/pnotify/jquery.pnotify.min.js")
      script(src="/lib/socket.io.js")
      script(src="/lib/knockout-jqueryui.min.js")
      script(src="/lib/moment.min.js")
      script(src="/src/lobby.js")

    body
      #blockingMsg
      .container(data-bind='visible: shouldShowPage')
        #tabs(data-bind='tabs: { refreshOn: games }')
          ul
            li
              a(href='#main') Main
            // ko foreach: games
            li
              a(data-bind='attr: {title: opponentName, href: \'#\' + id}, click: $parent.switchToGame') 
                span.mytabs-text(data-bind='text: \'playing \' + opponentName')
                span.ui-icon.ui-icon-bullet.mytabs-text(data-bind='playerOnline: $parent.players')
              span.ui-icon.ui-icon-close.mytabs-text.cursor-hand(data-bind="click: $parent.openCloseGameDialog, disable: $parent.isCloseGameDialogOpen.bind(this)", href='#')
            // /ko
          div#main
            p Welcome to our Stratego Game.
            p The following features are working: viewing who is online (just open this page in 2 browsers), inviting players to a game and chat. The actual game in canvas in on its way.
            button#showPlayers Invite a player
            ul.dropdown
              // ko foreach: players
              li
                a(href='#', data-bind='text: playerName, click: $parent.requestGame')
              // /ko
            #myName
              form(data-bind='submit: emitChangeMyPlayerName.bind(this, myPlayerName())')
                input#playerName(type='text', data-bind='value: myPlayerName')
                button#setPlayerName Set my name
          // ko foreach: games
          div(data-bind='attr: {id: id}')
            canvas.game-canvas(width='750', height='500', id='game') Canvas not supported
            .chat
              .messages(data-bind='foreach: messages')
                .message
                  span(data-bind='text: \'[\' + moment(date).format(\'HH:mm:ss\') + \'] \'')
                  span(data-bind='text: playerName + \': \'')
                  span(data-bind='text: message')
              .sending-message
                form(data-bind='submit: $parent.sendChatInput')
                  input.sending-message(data-bind='value: $parent.chatInput, attr: {placeholder: $parent.myPlayerName}')
                  button Send
          // /ko
          div(data-bind="dialog: {isOpen: isCloseGameDialogOpen, resizable: false, modal: true, buttons: {Yes: function() {emitResignGame(gameToBeClosed); $(this).dialog(\"close\");}, Cancel: function() { $( this ).dialog(\"close\") } } }")
            span Are you sure you want to finish a game with 
            span(data-bind="text: opponentNameOfGameToBeClosed")
            span ?
