div#bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: inline;
}

div#players {
  width: 150px;
  border: dashed;
  padding: 5px 10px;
}

div#tabs {
  font-size: 0.9em;
  width: 1010px;
  height: 660px;
}

ul#playersList{
  list-style-type: none;
  padding: 0px;
  width: 70%;
  margin: auto;
}

input[type="text"]{
  width: 80px;
}

button#showPlayers{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.mytabs-text{
  display: inline-block;
}

.chat{
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
}

input.sending-message{
  width: 90%;
}

.cursor-hand{
  cursor: pointer;
}
